body {
  font-family: 'Titillium Web', sans-serif;
  background: #36A2E5; 
}

.navbar-brand {
  font-size: 20px;
  color: #000;
  font-weight: bold;
 
}

#testimonial {
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top: 40px;
}

footer {
  background: url(..//img/fondo.jpg);
}
.logo {
    padding-left: 0;
    height: 30px;
    margin-top: 2px;
    
}
.form-group{
    background-color:#fffff; 
    text-decoration-color: #3CDEDB; 
   
    
}
